.titulo {

    font-weight: 400;
    font-size: 76px;
    margin-bottom: 16px;

}

.robo-image {

    background-image: url("/imgs/image.png");
    background-size: cover;
    background-position-y: -300px;

    width: 50vw;
    /* 50% da largura da tela*/
    height: 100vh;
    /* 100% da altura da tela*/

}

.page-container {

    display: flex;

}

.Login-container {

    width: 50vw;
    /* 50% da largura da tela*/
    height: 100vh;
    /* 100% da altura da tela*/

    /*Kit sobrevivencia da cetralização*/

    display: flex;
    /*Ativar o frex*/
    flex-direction: column;
    /*Muda o flex para colunas*/
    align-items: center;
    /*Centralizar horizontamente*/
    justify-content: center;
    /*Centralizar verticalmente*/

}

.login-container img {

    height: 60px;

}

.inpt {

    padding: 18px;
    /*Marge interna                              */
    background-color: #F7F9FB;
    /*Definea cor de fundo                       */
    width: 50%;
    /*Defini a largura                           */
    border: 1px solid #ccc;
    /*Define a borda                             */
    border-radius: 10px;
    /*Define o arredondamento da borda           */
    margin-bottom: 16px;
    /*Define a distancia de um botão para o outro*/

}


.btn {

    cursor: pointer;
    padding: 18px;
    /*Marge interna                              */
    background-color: #1C1C1C;
    /*Definea cor de fundo                       */
    width: 50%;
    /*Defini a largura                           */
    color: #fff;
    border-radius: 10px;
    /*Define o arredondamento da borda           */

}

.errorMessage {
    color: red;
    font-size: 15px;
    transform: translateY(-10px);

}

.Login-container>a {

    color: #1C1C1C;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {

    /* tela de celular */

    .titulo {

        text-align: center;
        font-size: 40px;
    }

    .robo-image {

        display: none;

    }

    .Login-container {

        text-align: center;
        display: flex;
        justify-content: center;
        width: 100vw;
    }
}

@media screen and (max-width: 1366px) {

    /* monitor de pequeno */
    .robo-image {
        background-position-y: center;
    }


}

@media screen and (max-width: 1000px) {

    /* tela de tablet */
    .robo-image {
        background-position-y: center;
    }

    .titulo {
        font-size: 40px;

    }
}