.container {

    display: flex;

}


.left-panel {

    display: flex;
    height: 100vh;
    width: 20vw;

    justify-content: space-between;
    flex-direction: column;

}

.central-panel {

    height: 100vh;
    width: 80vw;
    border-left: 1px solid #1c1c1c;


}

.top {

    width: 100%;
    min-height: 250px;

    padding: 8%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;

}

.top::-webkit-scrollbar {
    height: 0px;

}

.bottom {

    width: 100%;
    min-height: 250px;
    padding: 8%;
    border-top: 1px solid #1c1c1c;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.botão {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    color: whitesmoke;
    height: 40px;
    width: 95%;
    border-radius: 8px;

}

.bt {

    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 30px;
    background-color: #FFFFFF;
    border: 0;
    cursor: pointer;
    gap: 3%;

}

.bt i {

    margin-left: 5px;

}

/********** MAIN **********/

main img {

    margin-top: auto;
    margin-bottom: 30px;

}

.central-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.textos {

    display: flex;
    max-width: 70%;
    margin-bottom: auto;
}

.textos>div {

    margin: 0 1%;
}

.textos p {

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;

    margin-bottom: 16px;
    border-radius: 8px;

    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55px;

}

.textos h3 {

    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.texto i {

    margin-left: 45%;
    margin-right: 50%;

}


.input-container {

    margin-top: auto;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: gainsboro;
    border-radius: 16px;

}

.input-container input {

    border: none;
    width: 400px;
    outline: none;
    background-color: transparent;

}

.input-container i {

    margin-right: 10px;

}

.send button {

    color: grey;
    margin-right: 0px;

}

/************   mensagens   ***********/

.chat-container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    /* Para corrigir o bug que acontece quando há muitas mensagens no chat */
    height: 100%;
    overflow: auto;

}

.chat-header {

    margin-bottom: 20px;

}

.chat-messages {

    width: 100%;

}

.chat-container .message-item {

    background-color: #ccc;
    border-radius: 12px 12px 0 12px;
    padding: 20px;
    width: 300px;
    margin-left: auto;
    margin-bottom: 20px;

}

.chat-container .message-item.chatbot {

    background-color: #ccc;
    border-radius: 12px 12px 12px 0px;
    padding: 20px;
    width: 300px;
    margin-left: unset;
    color: white;
    background: #000;

}

::ng-deep body.darkMode .left-panel {
    background-color: #000 !important;

}

::ng-deep body.darkMode .bt {
    background-color: #000 !important;
    color: #FFFFFF;

}

::ng-deep body.darkMode .botão {
    background-color: #C6C7F8 !important;
    color: black;

}

::ng-deep body.darkMode .central-panel {
    background-color: black !important;
    color: white;

}

::ng-deep body.darkMode .input-container {
    color: white;
    background-color: #1c1c1c;

}

::ng-deep body.darkMode .chat-container .message-item.chatbot {
    color: white;
    background-color: #1c1c1c !important;

}

::ng-deep body.darkMode .chat-container .message-item {
    color: black;
    background-color: grey !important;

}